.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title {
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  max-width: 709px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__span-accent {
  font-family: "Noto Serif", Times, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header__footer {
  color: #6f6f6f;
}

.header__hours {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  position: absolute;
  display: flex;
  margin-top: auto;
  right: 80px;
  bottom: 20px;
}

.recipes {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto-serif", Times, sans-serif;
  font-size: 20px;
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
}

.recipes__videos {
  display: flex;
  width: 1000px;
  height: 273px;
  margin: 80px auto 215px;
  padding: 0;
  box-sizing: border-box;
}

.recipes__video-item {
  display: flex;
  width: 100%;
  border: 0;
  justify-content: space-between;
  column-gap: 40px;
}

.recipes__iframe {
  width: 450px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  align-items: center;
}
